*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
}


body{
    font-family:  'Courier New', Courier, monospace;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    width: 100%;
    height: 528px;
    padding: 10px;
    background: url("freedom.jpg");
    margin: 0 0 10px 0;
    
    

    
}

.plan{
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    display: inline-block;
    margin: 8px;
    width: 30%;
    vertical-align: middle;
   
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header{
    width: 100%;
    background:#2ddf5c;
    padding: 8px 16px;
}

.main-header__brand{
    text-decoration: none;
    color:#0e4f1F;
    font-weight: bold;
    font-size:22px;
}

.main-header>div{
    display: inline-block;
    vertical-align: middle;
}
.main-nav{
    display: inline-block;
    width: calc(100% - 80px);
    text-align: right;
    vertical-align: middle;
}
.main-nav__item{
    margin: 0;
    padding: 0;
    list-style: none;

}
.main-nav__item{
    display: inline-block;
    margin: 0 16px;
    
}

.main-nav__item a{
    color:#0e4f1F;
    text-decoration: none;
    padding:3px 0;


}
.main-nav__item ::after{
    content: "";
    color:red;
}


.main-nav__item a:hover,
.main-nav__item a:active{
    color:white;
    font-weight:bold;
    border-bottom: 1px solid;
}


.main-nav__item--cta a{
    color:white;
    background: #ff1b68;
    padding:8px 16px;
    border-radius: 8px;
}


.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    border: none;
    color: #ff1b68;
    background: white;
    
}